{% extends 'base.html' %}


{% block content %}

    <hr>

    <div class="fropy">
        {% for post in posts %}
            <div class="post">
                {% if post.topic %}
                    <div class="author-link">
                        <a href="{% url 'boomnet:view_topic' post.topic.slug %}" class="no-underline">
                            <div class="comment-author">
                                {% if post.topic.image %}
                                    <img class="avatar" src="{{ post.topic.image.url }}" alt="topic_im">
                                {% endif %}
                                {{ post.topic.title }}
                            </div>
                        </a>
                    </div>
                {% endif %}
                <a href="{% url 'boomnet:post_detail' post.id %}" class="no-underline">
                    <div>
                        <div class="post-image">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="img">
                            {% endif %}
                        </div>
                        <div class="post-text">
                            {{ post.text|linebreaks }}
                        </div>
                        <a href="{% url 'boomnet:view_profile' post.profile.id %}">
                            <p class="adds">By: {{ post.profile.username }}</p>
                        </a>
                        <p class="adds">Created ad: {{ post.created_at }}</p>
                        <a class="adds" href="{% url 'boomnet:post_detail' post.id %}">View all comments</a>
                        <a class="adds" href="{% url 'boomnet:add_post_to_bookmarks' post.id %}">Add to bookmarks</a>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}