{% extends 'base.html' %}

{% block title %}New post{% endblock %}

{% block content %}
    <div class="form-container bg-dark">
        <h3 class="form-title">Create new post here:</h3>
        <br>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {{ post_form.as_p }}
                <p><input type="submit" value="Upload"></p>
                {% csrf_token %}
            </form>
        </div>
        <br>
    </div>

{% endblock %}

