{% extends 'base.html' %}


{% block content %}

    <div class="title">
        <h3>Ur bookmarks</h3>
    </div>
    <hr>
    <br>

    <div class="fropy">
        {% for bookmark in bookmarks %}
            <div class="post">
                {% if bookmark.post.topic %}
                    <div class="author-link">
                        <a href="{% url 'boomnet:view_topic' bookmark.post.topic.slug %}" class="no-underline">
                            <div class="comment-author">
                                {% if bookmark.post.topic.image %}
                                    <img class="avatar" src="{{ bookmark.post.topic.image.url }}" alt="topic_img">
                                {% endif %}
                                {{ bookmark.post.topic.title }}
                            </div>
                        </a>
                    </div>
                {% endif %}
                <a href="{% url 'boomnet:post_detail' bookmark.post.slug %}" class="no-underline">
                    <div>
                        <div class="post-image">
                            {% if bookmark.post.image %}
                                <img src="{{ bookmark.post.image.url }}" alt="img">
                            {% endif %}
                        </div>
                        <div class="post-text">
                            {{ bookmark.post.text|linebreaks }}
                        </div>
                        <a href="{% url 'boomnet:view_profile' bookmark.post.user.profile.slug %}">
                            <p class="adds">By: {{ bookmark.post.profile.username }}</p>
                        </a>
                        <p class="adds">Created ad: {{ bookmark.post.created_at }}</p>
                        <a class="adds" href="{% url 'boomnet:post_detail' bookmark.post.slug %}">View all comments</a>
                        <a class="adds" href="{% url 'boomnet:remove_post_from_bookmarks' bookmark.post.slug %}">Remove from bookmarks</a>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>U haven't added any posts yet.</p>
        {% endfor %}
    </div>

{% endblock %}

