{% extends 'base.html' %}


{% block content %}

    <div class="topic">
        <div class="main-topic-info">
            <div class="topic_main" id="topic_main">
                {% if topic.image %}
                    <img class="avatar" src="{{ topic.image.url }}" alt="topic_image">
                {% endif %}
                <h3 class="nickname">{{ topic.title }}</h3>
                {% if is_author %}
                    <form action="#" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete {{ topic.title }}</button>
                    </form>
                {% else %}
                    {% if subscription_exists %}
                      <form action="{% url 'boomnet:unsubscribe' topic.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Leave</button>
                      </form>
                    {% else %}
                      <form action="{% url 'boomnet:subscribe' topic.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Join</button>
                      </form>
                    {% endif %}
                {% endif %}
            </div>

            <div class="about">
                <h4>About {{ topic.title }}:</h4>
                {% if topic.description %}
                    <div class="topic-info">
                        <p class="info">{{ topic.description }}</p>
                    </div>
                {% endif %}
                <p class="info-adds">Author: <a href="{% url 'boomnet:view_profile' topic.author.id %}">{{ topic.author.username }}</a></p>
                <p class="info-adds">Created at: {{ topic.created_at }}</p>
                <p>Subscribers: {{ subscribers }}</p>
            </div>
        </div>
        <br>

        <div class="fropy">
            {% for post in posts %}

                <div class="post">
                    <a href="{% url 'boomnet:post_detail' post.id %}" class="no-underline">
                        <div class="post-image">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="post_image">
                            {% endif %}
                        </div>
                        <div class="post-text">
                            {{ post.text|linebreaks }}
                        </div>
                        <a href="{% url 'boomnet:view_profile' post.profile.id %}">
                            <p class="adds">By: {{ post.profile.username }}</p>
                        </a>
                        <p class="adds">Created ad: {{ post.created_at }}</p>
                        <a class="adds" href="{% url 'boomnet:post_detail' post.id %}">View all comments</a>
                    </a>
                </div>

            {% empty %}
                <p>No posts yet</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}

