{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}

    <div class="authentication bg-dark">
        <div class="authentication-form">
            <h3 class="white-text">Use the following form to change ur password:</h3>
            <div style="margin-left: 50px">
                <form method="post">
                    {{ form.as_p }}
                    <p><input type="submit" value="Change"></p>
                    {% csrf_token %}
                </form>
                <p><a href="{% url 'boomnet:password_reset' %}">Forgotten ur password?</a></p>
            </div>
        </div>
    </div>

{% endblock %}

