{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}

    <div class="authentication bg-dark">
        <div class="authentication-form">
            <h3 class="white-text">Forgotten ur password?</h3>
            <div style="margin-left: 50px">
                <p>Enter ur e-mail address to obtain a new password.</p>
                <form method="post">
                    {{ form.as_p }}
                    <p><input type="submit" value="Send e-mail"></p>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}


