{% extends 'base.html' %}


{% block content %}

    <h3>Reset ur password</h3>
    <div style="margin-left: 50px">
        {% if validlink %}
            <p>Please enter ur new password twice:</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password"></p>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.</p>
        {% endif %}
    </div>

{% endblock %}







