.navbar{
    width: 100%;
    border-bottom: 1px solid #565454;
    height: 7%;
}

.navbar-container{
    /* margin-left: ; */
}

.navbar-link-block{
    text-align: right;
}

.navbar-link{
    margin-left: 12px;
}

.search-bar:hover{
    border: solid 1px #cfcfcf;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #ffffff;
}

.form-control::after {
    border-color: #ff8b67;
}

.container{
    width: 800px;
    display: none;
}

.search-bar{
    text-align: center;
}
