.comment{
    margin: 30px;
    border-radius: 7px;
    position: relative;
    color: white;
    height: fit-content;
}

.commnet-consstent{
    position: absolute;
}

.comment .adds-block{
    margin: 0;
}

.comments-block{
    border: solid 1px #565454;
    background-color: #272727;
    border-radius: 7px;
    margin-bottom: 30px;
    min-height: 120px;
}

.comment-image{
    width: 70%;
}

.comment-text{
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
}
