.login-wrapper{
    align-items: center;
    justify-content: center;
}

.login-form{
    /* margin-left: 10%;
    margin-right: 50%;
    width: auto; */
    
    width: 30%;
}

.login-container{
    margin: 20px;
    border: none;
}