* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    height: 100%;
    background-color: rgb(8, 8, 8);
}

img{
    width: 85%;
    vertical-align: middle;
}

.wrapper{
    display: flex;
}

.white-text{
    color: white;
}

::-webkit-scrollbar {
    /*width: 20px;*/
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
}

.post{
    border: solid 1px #565454;
    background-color: #272727;
    margin-bottom: 30px;
    border-radius: 7px;
    position: relative;
    color: white;
}

.post-content-link{
    margin-left: 12px;
}

.post-content{
    text-align: left;
}

.post-image{
    text-align: center;
    margin: 10px;
    margin: 0 auto;
}

.post-image img{
    height: auto;
    max-width: 100%;
}

.post-title{
    text-align: left;
    width: 100%;
    display: inline-block;
    /* margin-left: 70px; */
    margin-left: 7%;
}

.post-text{
    width: 100%;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    text-align: left;
}

.adds-block{
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
}

.adds{
    font-size: 10px;
    margin-left: 10px;
    color: white;
}

.shapka{
    margin-top: 5px;
    margin-left: 5%;
    display: flex;
    width: 100%;
    font-size: auto;
}

.line{
    color: #565454;
}

#menuButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

#menu {
    position: absolute;
    background-color: #565454;
    padding: 10px;
    border: 1px solid #565454;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(127, 127, 127, 0.3);
    margin-right: 250px;
    margin-left: 200px;
    color: white;
    z-index: 9999;
}

@media (max-width: 768px) {
    body {
        font-size: 7px;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .fropy{
        margin-left: 20%;
        margin-right: 35%;
        width: 500px;
    }
    
    .wrapper .fropy{
        width: 30%;
        margin-left: 20%;
        margin-right: 2%;
    }
    
}


@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .fropy{
        margin-left: 20%;
        margin-right: 35%;
        width: 700px;
    }
    
    .wrapper .fropy{
        width: 40%;
        margin-left: 20%;
        margin-right: 2%;
    }
    
}

.hidden {
    display: none;
}

.author-link{
    text-align: left;
    margin-left: 1%;
    color: white;
    width: 100%;
    height: auto;
}

.avatar{
    text-align: left;
    width: 50px;
    border-radius: 15%;
    margin-right: 5px;
}

.comment-author{
    margin: 5px;
    display: inline-block;
    width: 100%;
    height: auto;
}

.no-underline{
    text-decoration: none;
    color: white;
}

.site-title{
    font-size: 2rem;
}

.left-part{
    background-color: #272727;
    width: 200px;
}

