/* --------- Authentication stuff --------- */

.login-form{
    margin-left: 50px;
    margin-right: 50px;
}

.authentication {
    border: 1px solid #565454;
    display: inline-block;
    border-radius: 7px;
    margin-left: 10%;
    margin-bottom: 10%;
}

.authentication-form{
    margin: 10px;
    color: white;
}
