.options-button {
  margin-left: 100%;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.options-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  /* Other menu styles */
}

.options-menu ul {
  list-style-type: none;
  padding: 0;
}

.options-menu ul li {
  padding: 10px;
}

.options-menu ul li a {
  text-decoration: none;
  color: black;
}

.options-button:hover + .options-menu,
.options-menu:hover {
  display: block;
}