#menuButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

#menu {
  position: absolute;
  background-color: #565454;
  padding: 10px;
  border: 1px solid #565454;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(127, 127, 127, 0.3);
  margin-right: 250px;
  margin-left: 200px;
  color: white;
  z-index: 9999;
}

.hidden {
  display: none;
}