/* --------- Post view classes --------- */

.comment-block{
    margin-left: 20%;
    margin-right: 35%;
}

.comment-form{
    display: inline-block;
    border: solid 1px #565454;
    border-radius: 7px;
    margin-bottom: 10px;
}

.form{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.comment{
    border: solid 1px #565454;
    border-radius: 5px;
    margin-bottom: 10px;
}

.author-link{
    margin-right: 300px;
}

.comment-author{
    margin: 5px;
    display: inline-block;
    /*display: flex;*/
    color: white;
}

.comment-inner{
    margin-top: 5px;
    margin-left: 20px;
}

.comment-image{
    width: 70%;
}

.post-title{
    margin-left: 60px
}

.post-title-text{
    margin-top: 5px;
}

