/* --------- Profile classes --------- */

.profile{
    margin-left: 10px;
}

.profile1{
    display: flex;
    color: white;
}

.avatar{
    width: 50px;
    border-radius: 20%;
}

.nickname{
    margin: 10px;
    color: white;
}

.super-info{
    margin: 10px;
}

.profile-info{
    margin-left: 20px;
}

.info{
    margin-left: 10px;
}

.info-adds{
    font-size: 80%;
    margin-left: 20px;
}