/* --------- Main stuff --------- */
.fropy{
    margin-left: 20%;
    margin-right: 35%;
    /*background-color: black;*/
}

.post{
    border: solid 1px;
    margin-bottom: 30px;
    border-radius: 7px;
    /*background-color: #061f1f;*/
}

.post-image{
    text-align: center;
    margin: 10px;

}

.post-text{
    margin: 7px;
    /*color: white;*/
}

.adds{
    font-size: 10px;
    /*color: white;*/
    margin-left: 10px;
}

.no-underline{
    text-decoration: none;
    color: black;
}

img{
    width: 85%;
}
