/* --------- Main stuff --------- */
.fropy{
    margin-left: 20%;
    margin-right: 35%;
    /*background-color: black;*/
}

.post{
    border: solid 1px;
    margin-bottom: 30px;
    border-radius: 7px;
    /*background-color: #061f1f;*/
    position: relative;
}

.post-content{
    max-height: 400px;
    overflow: hidden;
}

.post-data{
    /*margin-left: 20px;*/
}

.post-image{
    text-align: center;
    margin: 10px;

}

.post-text{
    margin-left: 60px;
    /*color: white;*/
}

.adds-block{
    margin-top: 10px;
}

.adds{
    font-size: 10px;
    /*color: white;*/
    margin-left: 10px;
}

.shapka{
    display: inline-block;
}

.no-underline{
    text-decoration: none;
    color: black;
}

.profile-link{
    margin-left: 8%;
}

img{
    width: 85%;
}
