/* --------- Topic view classes --------- */

.topic{
    margin: 5px;
}

.main-topic-info{
    margin: 5px
}

.join{
    margin-left: 10px;
}

.topic-link{
    display: flex;
}

.topic_main{
    margin: 5px;
    display: flex;
}

.about{
    margin-left: 10px;
    margin-top: 15px;
}

.topic-info{
    margin-left: 10px;
}


