/* --------- Topic view classes --------- */

.topic{
    margin: 5px;
}

.main-topic-info{
    margin: 5px
}

.join{
    margin-left: 10px;
}

.topic-link{
    display: flex;
}

.topic_main{
    margin: 5px;
    display: flex;
}

.wrapper{
    /*display: flex;*/
}

.about{
    margin-left: 1000px;
    margin-top: 15px;
    margin-right: 100px;
    border: 1px solid #565454;
    border-radius: 7px;
    display: inline-block;
}

.about-content{
    margin: 20px;
}

.button{
    margin-top: 10px;
}


.topic-info{
    margin-left: 10px;
}

.topic-button{
    margin: 5px;
}



