@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  position: relative;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
}

.logo {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5.5rem;
    background-color: #19191c;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 1.14rem;
}

.nav__links li a {
    transition: all 0.3s ease-in-out 0s;
}

.nav__links li a:hover {
    color: #4949c3;
}

button {
    padding: 9px 25px;
    background-color: rgb(73, 73, 195);
    border-radius: 4rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color: rgba(73, 73, 195, 0.8);
}

