{% extends 'base.html' %}


{% block content %}

    <h2>Log in</h2>
    {% if form.errors %}
        <p>
            Ur username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>
            Please, use the following form to log-in.
            If u don't have an account <a href="#">Sign up here</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'boomnet:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Log in"></p>
        </form>
        <p>
            <a href="{% url 'boomnet:password_reset' %}">Forgotten ur password?</a>
        </p>
    </div>

{% endblock %}



