{% extends 'base.html' %}

{% block title %}Profile edit{% endblock %}

{% block content %}

    <div class="authentication bg-dark">
        <div class="authentication-form">
            <h3 class="white-text">Edit ur profile here:</h3>
            <div class="form">
                <form method="post" enctype="multipart/form-data">
                    {{ user_edit_form.as_p }}
                    {{ profile_edit_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Save changes"></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


