{% extends 'base.html' %}

{% block title %}
    {% if post.topic %}
        {{ post.title }} | {{ post.topic }}
    {% else %}
        {{ post.title }} | {{ post.user }}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="fropy">
        <div class="post bg-dark">
            <div class="shapka">
                {% if post.topic %}

                    <span class="author-link">
                        <a href="{% url 'boomnet:view_topic' post.topic.slug %}" class="no-underline">
                            <span class="comment-author">
                                {% if post.topic.image %}
                                    <img class="avatar" src="{{ post.topic.image.url }}" alt="topic_img">
                                {% endif %}
                                {{ post.topic.title }}
                                <span>
                                    | Posted by:
                                    <a href="{% url 'boomnet:view_profile' post.user.profile.slug %}">
                                        {{ post.user.username }}
                                    </a>
                                </span>
                            </span>
                        </a>
                    </span>

                {% else %}

                    <div class="author-link">
                        <a href="{% url 'boomnet:view_profile' post.user.profile.slug %}">
                            <div class="comment-author">
                                <img src="{{ post.user.profile.avatar.url }}" class="avatar" alt="av">
                                {{ post.user.username }}
                            </div>
                        </a>
                    </div>

                {% endif %}
            </div>

            <div class="white-text">
                <form method="post" action="{% url 'boomnet:vote' post.slug %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_slug" value="{{ post.slug }}">
                    <button type="submit" name="vote_type" value="upvote" class="up-vote">Upvote</button>
                    {{ post.total_votes }}
                    <button type="submit" name="vote_type" value="downvote" class="down-vote">Downvote</button>
                </form>

            </div>

            <a href="{% url 'boomnet:post_detail' post.slug %}" class="no-underline">
                <div class="post-title">
                    <h4>{{ post.title|linebreaks }}</h4>
                </div>
                <div class="post-text">
                    {{ post.text|linebreaks }}
                </div>
                <div class="post-image">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="postimg">
                    {% endif %}
                </div>
            </a>

            <div class="adds-block">
                <p class="adds">Created {{ post.created_at }}</p>
                <a class="adds" href="{% url 'boomnet:post_detail' post.slug %}">View all comments</a>
                {% if request.user.is_authenticated %}
                    {% if post in bookmarked_posts %}
                        <a class="adds" href="{% url 'boomnet:remove_post_from_bookmarks' post.slug %}">Remove from bookmarks</a>
                    {% else %}
                        <a class="adds" href="{% url 'boomnet:add_post_to_bookmarks' post.slug %}">Add to bookmarks</a>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>

    <div class="comment-block">
        <div class="comment-form bg-dark">
            <p class="adding">Comment as {{ request.user.username }}</p>
            <div class="form">
                <form method="post" enctype="multipart/form-data">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Submit"></p>
                </form>
            </div>
        </div>

        {% for comment in comments %}
            <div class="comment bg-dark">
                <div class="author-link">
                    <a href="{% url 'boomnet:view_profile' comment.author.profile.slug %}">
                        <div class="comment-author">
                            <img class="avatar" src="{{ comment.author.profile.avatar.url }}" alt="av">
                            {{ comment.author.username }}
                        </div>
                    </a>
                </div>

                <div class="comment-inner">
                    <div>
                        {% if comment.image %}
                            <img class="comment-image" src="{{ comment.image.url }}" alt="img">
                        {% endif %}
                    </div>
                    <div class="comment-text">
                        {{ comment.text|linebreaks }}
                    </div>
                    <p class="adds">{{ comment.created_at }}</p>
                    {% if comment.author == request.user %}
                    <div class="delete-comment">
                        <a href="{% url 'boomnet:delete_comment' post.slug comment.id %}">Delete this comment</a>
                    </div>
                    {% endif %}
                </div>

            </div>
        {% empty %}
            <p>No comments yet</p>
        {% endfor %}
    </div>

{% endblock %}
