{% extends 'base.html' %}


{% block content %}

    <div class="title">
        <h3 class="white-text">Ur bookmarks</h3>
    </div>
    <br>
    <hr class="white-text">
    <br>

    <div class="fropy">
        {% for bookmark in bookmarks %}
            <div class="post bg-dark" id="post">
                <div class="shapka">
                    {% if post.topic %}

                        <span class="author-link">
                            <a href="{% url 'boomnet:view_topic' bookmark.post.topic.slug %}" class="no-underline">
                                <span class="comment-author">
                                    {% if bookmark.post.topic.image %}
                                        <img class="avatar" src="{{ bookmark.post.topic.image.url }}" alt="topic_img">
                                    {% endif %}
                                    {{ post.topic.title }}
                                    <span>
                                        | Posted by:
                                        <a href="{% url 'boomnet:view_profile' bookmark.post.user.profile.slug %}">
                                            {{ bookmark.post.user.username }}
                                        </a>
                                    </span>
                                </span>
                            </a>
                        </span>

                    {% else %}

                        <div class="author-link">
                            <a href="{% url 'boomnet:view_profile' bookmark.post.user.profile.slug %}">
                                <div class="comment-author">
                                    <img src="{{ bookmark.post.user.profile.avatar.url }}" class="avatar" alt="av">
                                    {{ bookmark.post.user.username }}
                                </div>
                            </a>
                        </div>

                    {% endif %}
                </div>

                <div class="white-text">
                    <form method="post" action="{% url 'boomnet:vote' bookmark.post.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_slug" value="{{ bookmark.post.slug }}">
                        <button type="submit" name="vote_type" value="upvote" class="up-vote">Upvote</button>
                        {{ bookmark.post.total_votes }}
                        <button type="submit" name="vote_type" value="downvote" class="down-vote">Downvote</button>
                    </form>

                </div>

                <a href="{% url 'boomnet:post_detail' bookmark.post.slug %}" class="no-underline">
                    <div class="post-content">
                        <div class="post-title">
                            <h4>{{ bookmark.post.title|linebreaks }}</h4>
                        </div>
                        <div class="post-text">
                            {{ bookmark.post.text|linebreaks }}
                        </div>
                        <div class="post-image">
                            {% if bookmark.post.image %}
                                <img src="{{ bookmark.post.image.url }}" alt="postimg">
                            {% endif %}
                        </div>
                    </div>
                </a>

                <div class="adds-block">
                    <p class="adds">Created {{ bookmark.post.created_at }}</p>
                    <a class="adds" href="{% url 'boomnet:post_detail' bookmark.post.slug %}">View all comments</a>
                    <a class="adds" href="#">Share</a>
                    <a class="adds" href="{% url 'boomnet:remove_post_from_bookmarks' bookmark.post.slug %}">Remove from bookmarks</a>
                    <button class="menuButton" id="menuButton">&#8943;</button>
                    <div id="menu" class="hidden menu bg-dark">
                        <dl>
                            {% if post.topic %}
                                <dd><a class="no-underline" href="#">Mute {{ bookmark.post.topic.title }}</a></dd>
                            {% else %}
                                <dd><a class="no-underline" href="#">Mute {{ bookmark.post.user.username }}</a></dd>
                            {% endif %}
                            <dd><a class="no-underline" href="#">Hide</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>U haven't added any posts yet.</p>
        {% endfor %}
    </div>

{% endblock %}

